
{% load static %}
<html>
<head>
	<title>my website</title>
</head>
<body bgcolor="#FCFFC4">
	<img src="{% static 'ht.png' %}" width="300" border="5">
	<H1><font color="#071583" size="50">What is HTML?</font></H1>
	<hr size="3" color="#BABAB9">
	<br>
	<font size="4">
	<b>HTML is a computer language devised to allow website creation.</b> </font>These websites can then be viewed by anyone else connected to the internet.
	<br>
	<br>
	<i>Published By<br><b>
		<font color="red">-baabtra.com</b</i></font>

   
	</body>
	</html>                                                                               